@model ScientificJournal.Domain.DTO.PaperDTO
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit paper</h2>
<hr />
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post">
                <div class="form-row">
                    <div class="col-sm-5">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Paper.Id" />
                        <input type="hidden" asp-for="Paper.PaperDocumentId" />
                        <div class="form-group">
                            <label asp-for="Paper.Title" class="control-label"></label>
                            <input asp-for="Paper.Title" class="form-control" />
                            <span asp-validation-for="Paper.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Paper.AreaOfResearch" class="control-label">Area Of Research</label>
                            <input asp-for="Paper.AreaOfResearch" class="form-control" />
                            <span asp-validation-for="Paper.AreaOfResearch" class="text-danger"></span>
                        </div>
						<div class="form-group">
							<label asp-for="ConferenceId" class="control-label">Conference Name</label>
							<select asp-for="ConferenceId">
								@for (int i = 0; i < Model.Conferences.Count; i++)
								{
									var item = Model.Conferences[i];
									if (Model.ConferenceName.Equals(item.ConferenceName))
									{
										<option value="@item.Id" selected>@item.ConferenceName</option>
									}
									else
									{
										<option value="@item.Id">@item.ConferenceName</option>
									}
								}
							</select>
						</div>
                        <div class="form-group">
                            <label asp-for="Paper.Abstract" class="control-label"></label>
                            <textarea rows="6" asp-for="Paper.Abstract" class="form-control" style="height: 80px"></textarea>
                            <span asp-validation-for="Paper.Abstract" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Keywords" class="control-label"></label>
                            <input asp-for="Keywords" class="form-control" style="height: 50px" />
                            <span asp-validation-for="Keywords" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-5" style="margin-left: 50px;">
                        <div class="form-group">
                            <label asp-for="AuthorFirst" class="control-label">First Author</label>
                            <input asp-for="AuthorFirst" class="form-control" readonly />
                            <span asp-validation-for="AuthorFirst" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorSecond" class="control-label">Second Author</label>
                            <input asp-for="AuthorSecond" class="form-control" />
                            <span asp-validation-for="AuthorSecond" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorThird" class="control-label">Third Author</label>
                            <input asp-for="AuthorThird" class="form-control" />
                            <span asp-validation-for="AuthorThird" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a asp-action="MyPapers" asp-controller="Paper" class="btn btn-secondary" style="margin-left: 10px">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}
