@model List<ScientificJournal.Domain.DomainModels.Paper>
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>List all papers</div>
<div class="container">
	<div class="m-3">
		<a class="btn btn-success" asp-controller="Paper" asp-action="Create">Add new Product</a>
	</div>

	<table class="table table-hover">
		<thead> 
			<tr>
				<th scope="col">#</th>
				<th scope="col">Paper Title</th>
				<th scope="col">Area of Research</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				var item = Model[i];
				<tr>
					<td>@(i+1)</td>
					<td>@item.Title</td>
					<td>@item.AreaOfResearch</td>
					<td><a asp-action="Details" asp-controller="Paper" asp-route-id="@item.Id" class="btn btn-info">Details</a></td>

				</tr>
			}
		</tbody>
	</table>
</div>

